@import "../../assets/style/variables";

.download-app-page {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #039EF8 0%, #6D42EF 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  &__view {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 100px 20px 20px !important;

    a {
      color: #ffffff;
      text-decoration: underline;
      position: relative;
      z-index: 10;
      transition: all 0.3s cubic-bezier(0.45, 0.25, 0.60, 0.95);

      &:hover {
        color: #000000;
        transition: all 0.3s cubic-bezier(0.45, 0.25, 0.60, 0.95);
      }
    }
  }

  .is-narrow-mobile {
    float: left;
  }

  .is-6-mobile {
    float: left;
  }

  @media screen and (max-width: 768px) {
    .columns {
      margin-bottom: calc(2rem) !important;
    }
  }

}