<template>
  <div class="download-app-page">
    <div class="download-app-page__view">
      <div class="columns">
        <div class="column is-10">
          <p class="fs-26 hanken-bold">Deepen Your Relationship With Yourself</p>
        </div>
      </div>
      <div class="columns vertical-align">
        <div class="column is-narrow is-narrow-mobile">
          <img src="../../assets/icons/checkmark-white.svg" style="width:20px" alt="">
        </div>
        <div class="column">
          <span class="hanken-medium">Listen 1000+ premium meditations, sleep stories and music</span>
        </div>
      </div>
      <div class="columns vertical-align">
        <div class="column is-narrow is-narrow-mobile">
          <img src="../../assets/icons/checkmark-white.svg" style="width:20px" alt="">
        </div>
        <div class="column">
          <span class="hanken-medium">Get daily fresh content</span>
        </div>
      </div>
      <div class="columns vertical-align">
        <div class="column is-narrow is-narrow-mobile">
          <img src="../../assets/icons/checkmark-white.svg" style="width:20px" alt="">
        </div>
        <div class="column">
          <span class="hanken-medium">Offline usage</span>
        </div>
      </div>
      <div class="columns vertical-align">
        <div class="column is-6-mobile">
          <img src="../../assets/icons/app-store.svg" style="width:100%" alt="">
        </div>
        <div class="column is-6-mobile">
          <img src="../../assets/icons/google-play.svg" style="width:100%" alt="">
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <a href="https://www.meditopia.com/" class="fs-14 pointer">Continue with website</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DownloadApp',
    data () {
      return {}
    },
    methods: {
    },
  }
</script>

<style lang="scss" src="./DownloadApp.scss"></style>
