@font-face {
  font-family: "HankenSans-Light";
  src: url('../font/hanken-sans/HankenSans-Light.otf');
}

@font-face {
  font-family: "HankenSans-Regular";
  src: url('../font/hanken-sans/HankenSans-Regular.otf');
}

@font-face {
  font-family: "HankenSans-Medium";
  src: url('../font/hanken-sans/HankenSans-Medium.otf');
}

@font-face {
  font-family: "HankenSans-Bold";
  src: url('../font/hanken-sans/HankenSans-Bold.otf');
}