@import "variables";
@import "globals";
@import "vuetify";
@import "~bulma";
@import "~bulma-tooltip";


body {
  margin: 0;
  font-family: 'HankenSans-Regular',sans-serif !important;
}

#app {
  position: relative;
  width: 100%;
  height: 100vh;
  color: $white;
  display: flex;
}

.btn {
  background: $white;
  text-align: center;
  letter-spacing: 1px;
  padding:21px 0;
  width: 100%;
  border-radius: 40px;
  cursor:pointer;
  color: #2C74F4;
  font-family: 'HankenSans-Medium',sans-serif;
  border:none !important;
  transition: all 0.3s cubic-bezier(0.45, 0.25, 0.60, 0.95);

  &:not(.is-disabled) {
    &:hover {
      transform: scale(1.03);
      background-color: $white;
      transition: all 0.3s cubic-bezier(0.45, 0.25, 0.60, 0.95);
    }
  }
  &:focus {
    outline: none;
  }
}

.form {
  label .label-text {
    color: #ffffff;
    cursor: text;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: 'HankenSans-Medium',serif;
    transform: translateY(-37px);
    transition: all 0.3s cubic-bezier(0.45, 0.25, 0.60, 0.95);
  }
  label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgba(216, 216, 216, 0.60);
    color: white;
    outline: 0;
    transition: all 0.3s cubic-bezier(0.45, 0.25, 0.60, 0.95);
    width: 100%;
  }
  label input:focus {
    max-width: 100%;
    border-color: #ffffff;
  }
  label input:focus + .label-text {
    color: #F0F0F0;
    font-size: 13px;
    transform: translateY(-64px);
  }
  label input:valid {
    border-color: #ffffff;
  }
  label input:valid + .label-text {
    transform: translateY(-64px);
  }

}


