@import "variables";
@import "fonts";

.is-flex {
  display: flex;
}


// width

.w-full {
  width: 100%;
}

// text colors
.white-text {
  color: $white;
}

// font sizes

.fs-12 {
  font-size:12px;
}

.fs-14 {
  font-size:14px;
}

.fs-18 {
  font-size:18px;
}

.fs-21 {
  font-size:21px;
}

.fs-26 {
  font-size:26px;
}


// paddings

.p-0 {
  padding: 0 !important;
}

.p-10 {
  padding: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

//margins

.m-0 {
  margin:0 auto !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-64 {
  margin-top: 64px !important;
}

// aligning in flex
.vertical-align {
  align-items: center;
}

.justify-center {
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}


// font family classes

.hanken-light {
  font-family: 'HankenSans-Light', serif;
}

.hanken-regular {
  font-family: 'HankenSans-Regular', serif;
}

.hanken-medium {
  font-family: 'HankenSans-Medium', serif;
}

.hanken-bold {
  font-family: 'HankenSans-Bold', serif;
}


// overwrite element.io

.el-input__inner {
  border-radius: 0 !important;
  height: auto !important;
}

.pointer {
  cursor: pointer;
}