@import "variables";

.theme--light {
  &.v-stepper {
    background: transparent !important;
    width: 436px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: 90vh;



    .v-stepper__items {
      width: 100%;
      height: 100%;
    }

    .v-stepper__content {
      width: 100%;
      height: 100%;
      padding: 0 !important;
    }

    .v-stepper__wrapper {
      width: 100%;
      height: 100%;
    }
  }
}

