@import "../../assets/style/variables";

.first-meditation-page {
  background: linear-gradient(360deg, #039EF8 0%, #6D42EF 100%);
  width: 100%;
  height: 100%;
  background-size: cover;
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  justify-content: center;

  &__view {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    .media-player {
      width: 265px;
      height: 350px;
      border-radius: 20px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
      background: url('../../assets/images/performance-img.png') no-repeat center center;
      background-size:cover;
      margin: 45px auto 0;
    }
  }
}