<template>
  <div class="first-meditation-page">
    <div class="first-meditation-page__view">
      <div class="column">
        <div class="columns">
          <div class="column text-center">
            <p class="fs-26 hanken-regular">Start your experience with this short introduction</p>
            <p class="fs-18 mt-45">Recommended for you</p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="media-player"></div>
          </div>
        </div>
        <div class="columns">
          <div class="column text-center">
            <p @click="continueStep" class="fs-14 pointer">I'll do it later</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FirstMeditation',
    data () {
      return {}
    },
    created () {
      this.startAnimation()
    },
    computed: {},
    methods: {
      continueStep () {
        this.$emit('continue')
      },
      startAnimation () {
      },
    },
  }
</script>
<style lang="scss" src="./FirstMeditation.scss"/>
