@import "../../assets/style/variables";

.select-priorities-page {
  background: linear-gradient(64.74deg, #4956CE 0.13%, #4956CE 0.13%, #3F4AAC 0.13%, #3842A2 0.13%, #2A2282 100%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__view {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px !important;
    width: 100%;
    height: 100%;

    .el-checkbox {
      margin: 0 !important;

      .el-checkbox__label {
        width: 100%;
        height: 100%;
        line-height: normal !important;
        padding-left: 0 !important;
        position: relative;

        &::before {
          content:'';
          opacity: 0;
          transition: all 0.5s cubic-bezier(0.45, 0.25, 0.60, 0.95);
          width: 100%;
          height: 100%;
          position: absolute;
          border: 2px solid $white;
          border-radius: 9px;
          z-index: 99;
          left: 0;
          top: 0;
        }

        &::after {
          content:'';
          z-index: 99999;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;
          transition: all 0.5s cubic-bezier(0.45, 0.25, 0.60, 0.95);
          opacity: 0;
          background: url("../../assets/images/disabled-cover.svg") no-repeat center center;
          background-size: cover;
        }
      }
      &.is-disabled {
        .el-checkbox__label {
          &::after {
            transition: all 0.5s cubic-bezier(0.45, 0.25, 0.60, 0.95);
            opacity: 1;
          }
        }
      }

      &.is-checked {
        .el-checkbox__label {
          &::before {
            opacity: 1;
            transition: all 0.3s cubic-bezier(0.45, 0.25, 0.60, 0.95);
          }
        }
      }

      .el-checkbox__input {
        display: none;
      }
    }

    .image-box {
      height: 170px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(11, 11, 11, 0) 11.39%, rgba(0, 0, 0, 0.5695) 48.96%, rgba(0, 0, 0, 0) 85.12%);
      }

      &__img {
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;

        img {
          width: 100%;
        }
      }

      &__content {
        width: 100%;
        color: $white;
        text-align: center;
        position: relative;
        z-index: 9;
      }

      .checkmark {
        position: absolute;
        right: 12px;
        top: 12px;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0px 2px 9px rgba(33, 33, 33, 0.08);
        backdrop-filter: blur(4px);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

}