<template>
  <div class="select-priorities-page">
    <div class="select-priorities-page__view">
      <div class="column">
        <div class="columns">
          <div class="column has-text-centered">
            <p class="fs-21 hanken-medium">Where would you like to start?</p>
            <p class="fs-14 hanken-regular hanken-regular">Choose up to 3 priorities</p>
          </div>
        </div>
        <el-checkbox-group @change="prioritiesSelection" v-model="prioritiesGroup" size="small">
          <div class="columns is-mobile is-multiline mt-35">
            <el-checkbox
              :disabled="prioritiesGroup.length > 2 && !prioritiesGroup.includes('sleep')"
              label="sleep"
              class="column is-6 is-6-mobile"
            >
              <div class="image-box">
              <span class="checkmark" v-if="prioritiesGroup.includes('sleep')">
                <img src="../../assets/icons/checkmark.svg" alt="">
              </span>
                <div class="image-box__img">
                  <img src="../../assets/images/sleep-img.png">
                </div>
                <div class="image-box__content">
                  <p class="fs-14 hanken-regular hanken-regular">Improve</p>
                  <p class="fs-21 hanken-bold">Sleep</p>
                </div>
              </div>
            </el-checkbox>
            <el-checkbox
              :disabled="prioritiesGroup.length > 2 && !prioritiesGroup.includes('stressAndAnxiety')"
              label="stressAndAnxiety"
              class="column is-6 is-6-mobile"
            >
              <div class="image-box">
              <span class="checkmark" v-if="prioritiesGroup.includes('stressAndAnxiety')">
                <img src="../../assets/icons/checkmark.svg" alt="">
              </span>
                <div class="image-box__img">
                  <img src="../../assets/images/stress-and-anxiety-img.png">
                </div>
                <div class="image-box__content">
                  <p class="fs-14 hanken-regular">Deal with</p>
                  <p class="fs-21 hanken-bold">Stress <br> and Anxiety</p>
                </div>
              </div>
            </el-checkbox>
            <el-checkbox
              :disabled="prioritiesGroup.length > 2 && !prioritiesGroup.includes('mindFullness')"
              label="mindFullness"
              class="column is-6 is-6-mobile"
            >
              <div class="image-box">
              <span class="checkmark" v-if="prioritiesGroup.includes('mindFullness')">
                <img src="../../assets/icons/checkmark.svg" alt="">
              </span>
                <div class="image-box__img">
                  <img src="../../assets/images/mindfulness-img.png">
                </div>
                <div class="image-box__content">
                  <p class="fs-14 hanken-regular">Learn</p>
                  <p class="fs-21 hanken-bold">Mindfulness</p>
                </div>
              </div>
            </el-checkbox>
            <el-checkbox
              :disabled="prioritiesGroup.length > 2 && !prioritiesGroup.includes('relationships')"
              label="relationships"
              class="column is-6 is-6-mobile"
            >
              <div class="image-box">
              <span class="checkmark" v-if="prioritiesGroup.includes('relationships')">
                <img src="../../assets/icons/checkmark.svg" alt="">
              </span>
                <div class="image-box__img">
                  <img src="../../assets/images/relationships-img.png">
                </div>
                <div class="image-box__content">
                  <p class="fs-14 hanken-regular">Manage</p>
                  <p class="fs-21 hanken-bold">Relationships</p>
                </div>
              </div>
            </el-checkbox>
            <el-checkbox
              :disabled="prioritiesGroup.length > 2 && !prioritiesGroup.includes('performance')"
              label="performance"
              class="column is-6 is-6-mobile"
            >
              <div class="image-box">
              <span class="checkmark" v-if="prioritiesGroup.includes('performance')">
                <img src="../../assets/icons/checkmark.svg" alt="">
              </span>
                <div class="image-box__img">
                  <img src="../../assets/images/performance-img.png">
                </div>
                <div class="image-box__content">
                  <p class="fs-14 hanken-regular">Increase</p>
                  <p class="fs-21 hanken-bold">Performance</p>
                </div>
              </div>
            </el-checkbox>
            <el-checkbox
              :disabled="prioritiesGroup.length > 2 && !prioritiesGroup.includes('physicalHealth')"
              label="physicalHealth"
              class="column is-6 is-6-mobile"
            >
              <div class="image-box">
              <span class="checkmark" v-if="prioritiesGroup.includes('physicalHealth')">
                <img src="../../assets/icons/checkmark.svg" alt="">
              </span>
                <div class="image-box__img">
                  <img src="../../assets/images/physical-health-img.png" style="height:100%;border-radius:9px">
                </div>
                <div class="image-box__content">
                  <p class="fs-14 hanken-regular">Improve</p>
                  <p class="fs-21 hanken-bold">Physical<br>Health</p>
                </div>
              </div>
            </el-checkbox>
          </div>
        </el-checkbox-group>
        <div class="columns">
          <div class="column">
            <el-button
              class="btn"
              @click="continueStep"
              :disabled="prioritiesGroup.length < 3"
            >
              CONTINUE
            </el-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SelectPriorities',
    data () {
      return {
        prioritiesGroup: [],
      }
    },
    computed: {},
    methods: {
      prioritiesSelection (event) {
      },
      continueStep () {
        this.$emit('continue')
      },
    },
  }
</script>
<style lang="scss" src="./SelectPriorities.scss"/>
