@import "../assets/style/variables";

.web-flow-home-page {
  float: left;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(64.74deg, #4956CE 0.13%, #4956CE 0.13%, #3F4AAC 0.13%, #3842A2 0.13%, #2A2282 100%);
}