<template>
  <div class="web-flow-home-page">
    <v-stepper v-model="e1">
      <v-stepper-items>
        <v-stepper-content step="1">
          <select-priorities @continue="e1 = 2"/>
        </v-stepper-content>

        <v-stepper-content step="2">
          <animate-images @continue="e1 = 3"/>
        </v-stepper-content>

        <v-stepper-content step="3">
          <payment @continue="e1 = 4"/>
        </v-stepper-content>

        <v-stepper-content step="4">
          <card-info @continue="e1 = 5"/>
        </v-stepper-content>

        <v-stepper-content step="5">
          <sign-up @continue="e1 = 6"/>
        </v-stepper-content>

        <v-stepper-content step="6">
          <first-meditation @continue="e1 = 7"/>
        </v-stepper-content>

        <v-stepper-content step="7">
          <download-app @continue="e1 = 8"/>
        </v-stepper-content>

      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
  import SelectPriorities from '../components/select-priorities/SelectPriorities'
  import AnimateImages from '../components/animate-screen/AnimateImages'
  import Payment from '../components/payment-screen/Payment'
  import CardInfo from '../components/card-info-screen/CardInfo'
  import SignUp from '../components/sign-up/SignUp'
  import FirstMeditation from '../components/first-meditation/FirstMeditation'
  import DownloadApp from '../components/download-app/DownloadApp'

  export default {
    name: 'Home',
    components: { SelectPriorities, AnimateImages, Payment, CardInfo, SignUp, FirstMeditation, DownloadApp },
    data () {
      return {
        e1: 1,
      }
    },
    computed: {},
    methods: {},
    watch: {
      e1 (val) {
      },
    },
  }
</script>
<style lang="scss" src="./Home.scss"/>
