@import "../../assets/style/variables";

.card-info-page {
  background: linear-gradient(360deg, #039EF8 0%, #6D42EF 100%);
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__view {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px !important;
    position: relative;
    overflow:hidden;

    .purple-box {
      line-height: 32px;
      color: white;
      width: 142px;
      font-size:12px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(4px);
      border-radius: 30px;
      font-family: 'HankenSans-Bold',serif;
    }
  }

}