<template>
  <div class="card-info-page">
    <div class="card-info-page__view">
      <div class="columns">
        <div class="column text-center">
          <p class="fs-26 hanken-bold">Start 7 days free trial</p>
        </div>
      </div>
      <div class="columns">
        <div class="column text-center">
          <div class="purple-box m-0">
            CANCEL ANYTIME
          </div>
        </div>
      </div>
      <div class="columns mt-64">
        <div class="column">
          <el-form class="form" ref="form" :model="cardInfo">
            <div class="columns">
              <div class="column">
                <div class="form-field">
                  <label>
                    <input numeric v-mask="'################'" v-model="cardInfo.creditCardNo" type="text" required/>
                    <div class="label-text">CREDIT CARD NUMBER</div>
                  </label>
                </div>
              </div>
            </div>
            <div class="columns mt-50">
              <div class="column is-7">
                <div class="form-field">
                  <label>
                    <input numeric v-mask="'##/##'" v-model="cardInfo.date" type="text" required/>
                    <div class="label-text">MM / YY</div>
                  </label>
                </div>
              </div>
              <div class="column is-5">
                <div class="form-field">
                  <label>
                    <input numeric v-mask="'###'" v-model="cardInfo.cvv" type="text" required/>
                    <div class="label-text">CVV</div>
                  </label>
                </div>
              </div>
            </div>
          </el-form>
        </div>
      </div>
      <div class="columns mt-64">
        <div class="column">
          <el-button
            class="btn"
            @click="continueStep"
          >
            ACTIVATE 7 DAYS FREE TRIAL
          </el-button>
          <p class="fs-12 hanken-regular text-center mt-15">You will be charged by the end of the 7 days trial period. You can cancel your subscription anytime at least 24 hours before the end of the subscription period.</p>
        </div>
      </div>
      <div class="columns justify-center mt-15">
          <img src="../../assets/icons/visa.svg" style="width:50px" alt="">
          <img src="../../assets/icons/mastercard.svg" style="width:46px" alt="">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'CardInfo',
    data () {
      return {
        cardInfo: {
          creditCardNo: '',
          date: '',
          cvv: '',
        },
      }
    },
    methods: {
      continueStep () {
        this.$emit('continue')
      },
    },
  }
</script>
<style lang="scss" src="./CardInfo.scss"/>
