<template>
  <div class="animate-page">
    <div class="animate-page__view">
      <span class="pointer" style="position:absolute;right:30px; top:0px;z-index: 999" @click="continueStep"> > </span>
      <div class="columns is-multiline">
        <div class="column is-6 is-6-mobile">
          <img src="../../assets/images/animation/iliskiler-img.png" alt="">
        </div>
        <div class="column is-6 is-6-mobile">
          <img src="../../assets/images/animation/iliskiler-img.png" alt="">
        </div>
        <div class="column is-6 is-6-mobile">
          <img src="../../assets/images/animation/iliskiler-img.png" alt="">
        </div>
        <div class="column is-6 is-6-mobile">
          <img src="../../assets/images/animation/iliskiler-img.png" alt="">
        </div>
        <div class="column is-6 is-6-mobile">
          <img src="../../assets/images/animation/iliskiler-img.png" alt="">
        </div>
        <div class="column is-6 is-6-mobile">
          <img src="../../assets/images/animation/iliskiler-img.png" alt="">
        </div>
        <div class="column is-6 is-6-mobile">
          <img src="../../assets/images/animation/iliskiler-img.png" alt="">
        </div>
        <div class="column is-6 is-6-mobile">
          <img src="../../assets/images/animation/iliskiler-img.png" alt="">
        </div>
        <div class="column is-6 is-6-mobile">
          <img src="../../assets/images/animation/iliskiler-img.png" alt="">
        </div>
      </div>
      <div class="animate-page__view__gradient">
        <div class="animate-page__view__gradient-content">
          <p>We are creating your</p>
          <p>personal experience...</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AnimateImages',
    data () {
      return {}
    },
    created () {
      this.startAnimation()
    },
    computed: {},
    methods: {
      continueStep () {
        this.$emit('continue')
      },
      startAnimation () {
      },
    },
  }
</script>
<style lang="scss" src="./AnimateImages.scss"/>
