@import "../../assets/style/variables";

.sign-up-page {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #039EF8 0%, #6D42EF 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__view {
    width: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px !important;
    position: relative;
    height: 100%;
    overflow:hidden;

    .btn {
      color: $white;
      position: relative;
      font-family: 'HankenSans-Medium', serif;

      &.sign-up-apple {
        background: #000;

        &:hover {
          background: #000;
        }

        &:focus {
          color: $white;
        }
      }

      &.sign-up-fb {
        background: #3B5998;

        &:hover {
          background: #3B5998;
        }

        &:focus {
          color: $white;
        }
      }

      &.sign-up-btn {
        color: #000000;

        &:hover {
          color: #000000;
        }
      }

      img {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        color: $white;
      }
    }

    .absolute-bottom {
      text-align: center;
      bottom: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 0 3.75em;

    }
  }

}