<template>
  <div class="sign-up-page">
    <div class="sign-up-page__view">
      <div class="columns">
        <div class="column text-center">
          <span class="fs-18 hanken-medium">Sign Up</span>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <el-button
            class="btn sign-up-apple"
          >
            <img src="../../assets/icons/apple.svg">
            Sign Up with Apple
          </el-button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <el-button
            class="btn sign-up-fb"
          >
            <img src="../../assets/icons/facebook.svg">
            Sign Up with Facebook
          </el-button>
        </div>
      </div>
      <div class="columns mt-64">
        <div class="column">
          <el-form class="form" ref="signUpForm" :model="signUpForm">
            <div class="columns">
              <div class="column">
                <div class="form-field">
                  <label>
                    <input v-model="signUpForm.name" type="text" required/>
                    <div class="label-text">NAME</div>
                  </label>
                </div>
              </div>
            </div>
            <div class="columns mt-15">
              <div class="column">
                <div class="form-field">
                  <label>
                    <input v-model="signUpForm.email" type="mail" required/>
                    <div class="label-text">EMAIL ADDRESS</div>
                  </label>
                </div>
              </div>
            </div>
            <div class="columns mt-15">
              <div class="column">
                <div class="form-field">
                  <label>
                    <input v-model="signUpForm.pass" type="password" required/>
                    <div class="label-text">PASSWORD</div>
                  </label>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <el-button
                  type="submit"
                  class="btn sign-up-btn"
                  @click="submitForm()"
                >
                  Sign Up with E-mail
                </el-button>
              </div>
            </div>
          </el-form>
        </div>
      </div>
      <div class="absolute-bottom">
        <span class="fs-12">By continuing, you agree to Meditopia’s Terms & Conditions and Privacy Policy</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SignUp',
    data () {
      return {
        signUpForm: {
          name: '',
          email: '',
          pass: '',
        },
      }
    },
    methods: {
      submitForm () {
        this.$refs.signUpForm.validate((valid) => {
          if (valid) {
            this.$emit('continue')
          } else {
            console.log('error submit!!')
            return false
          }
        })
      },
      continueStep () {
        this.$emit('continue')
      },
    },
  }
</script>

<style lang="scss" src="./SignUp.scss"></style>
