<template>
  <div class="payment-page">
    <div class="payment-page__view">
      <div class="column">
        <div class="free-trail">
          <div class="is-flex m-0">
            <img src="../../assets/icons/star.svg" alt="">
            <span>FREE TRIAL</span>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p class="fs-26 hanken-bold">Enjoy 7 days for free</p>
          </div>
        </div>
        <div class="columns vertical-align">
          <div class="column is-narrow is-narrow-mobile">
            <img src="../../assets/icons/checkmark-white.svg" style="width:20px" alt="">
          </div>
          <div class="column">
            <span class="hanken-regular">Unlimited access to 500+ premium mindfulness meditations and music</span>
          </div>
        </div>
        <div class="columns vertical-align">
          <div class="column is-narrow is-narrow-mobile">
            <img src="../../assets/icons/checkmark-white.svg" style="width:20px" alt="">
          </div>
          <div class="column">
            <span class="hanken-regular">Sleep with premium sleep stories every night</span>
          </div>
        </div>
        <div class="columns vertical-align">
          <div class="column is-narrow is-narrow-mobile">
            <img src="../../assets/icons/checkmark-white.svg" style="width:20px" alt="">
          </div>
          <div class="column">
            <span class="hanken-regular">New daily meditation added every day</span>
          </div>
        </div>
        <div class="columns vertical-align">
          <div class="column is-narrow is-narrow-mobile">
            <img src="../../assets/icons/checkmark-white.svg" style="width:20px" alt="">
          </div>
          <div class="column">
            <span class="hanken-regular">New meditation program added every month</span>
          </div>
        </div>
        <div class="columns vertical-align">
          <div class="column is-narrow is-narrow-mobile">
            <img src="../../assets/icons/checkmark-white.svg" style="width:20px" alt="">
          </div>
          <div class="column">
            <span class="hanken-regular">Download contents and use them offline</span>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p class="hanken-bold">7 days for free, than $59,99 / Year.</p>
            <p class="hanken-bold">Cancel anytime</p>
          </div>
        </div>
        <div class="columns mt-10">
          <div class="column text-center">
            <el-button
              class="btn"
              @click="continueStep"
            >
              CONTINUE
            </el-button>
            <p class="fs-12 mt-10 hanken-regular">No commitment, Cancel anytime</p>
          </div>
        </div>
      </div>
    </div>
    <div class="payment-page__gradient"></div>
  </div>
</template>

<script>
  export default {
    name: 'Payment',
    data () {
      return {}
    },
    created () {
      this.startAnimation()
    },
    computed: {},
    methods: {
      continueStep () {
        this.$emit('continue')
      },
      startAnimation () {
      },
    },
  }
</script>
<style lang="scss" src="./Payment.scss"/>
