@import "../../assets/style/variables";

.payment-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background: radial-gradient(101.47% 106.53% at 32.38% 64.33%, #2C74F4 0%, rgba(129, 80, 255, 0.75) 100%);

  &__view {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/images/payment-page-img.jpg) no-repeat center center;
    background-size: cover;
    mix-blend-mode: normal;

    > div {
      position: relative;
      z-index: 10;
    }

    &::after {
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 8;
      mix-blend-mode: normal;
      opacity: 0.95;
      border-radius: 15px;
      background: radial-gradient(101.47% 106.53% at 32.38% 64.33%, #2C74F4 0%, rgba(129, 80, 255, 0.75) 100%);
    }

    .free-trail {
      display: flex;
      text-align: center;
      line-height: 32px;
      background: $white;
      border-radius: 8px;
      width: 122px;
      margin-bottom: 30px;
      font-family: 'HankenSans-Medium',serif;

      span {
        font-size:14.4px;
        letter-spacing: 0.63px;
        color: $blue;
        margin-left: 5px;
      }
      img {
        width: 18px;
      }
    }
  }

  .is-narrow-mobile {
    float: left;
  }

  @media screen and (max-width: 768px) {
    .columns {
      margin-bottom: calc(2rem) !important;
    }
  }

}